body{
    background-color: #15173D;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: #982598;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-items: center;
}

img{
    width: 70px;
    height: 70px;
}
.menu{
    display: flex;
    list-style-type: none;
    gap: 10px;
}

li a{
    text-decoration: none;
    color: #F1E9E9;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.4s;
}
li{
    transition: all 0.4s;
}

li a:hover, li:hover{
    color: #E491C9;
    transform: translateY(-5px);
}

main{
    background-color: #E491C9;
    width: 80%;
    margin:50px auto;
}

.filmes{
    background-color: #F1E9E9;
    color: #982598;
    font-size: 22px;
    width: 100%;
    border-collapse: collapse;
}

.filmes th,td{
    padding: 15px;
    border-bottom: 2px solid #15173D;
    text-align: center;
}
.filmes tbody tr:nth-child(odd){
    background-color: #E491C9;
}
.filmes thead tr{
    background-color: #271227;
    color: #F1E9E9;
}